/*
 * 
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.douyin.open.client;

import com.douyin.open.ApiCallback;
import com.douyin.open.ApiClient;
import com.douyin.open.ApiException;
import com.douyin.open.ApiResponse;
import com.douyin.open.Configuration;
import com.douyin.open.Pair;
import com.douyin.open.ProgressRequestBody;
import com.douyin.open.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.douyin.open.model.DataPoiDetailPageResponse;
import com.douyin.open.model.DataPoiShopPageResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class DataPoiApi {
    private ApiClient apiClient;

    public DataPoiApi() {
        this(Configuration.getDefaultApiClient());
    }

    public DataPoiApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for dataPoiDetailPageGet
     * @param accessToken 调用/oauth/client_token/生成的token，此token不需要用户授权。 (required)
     * @param poiId  (required)
     * @param beginDate 开始日期(2019-01-01) (required)
     * @param endDate 结束日期(2019-01-01) (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call dataPoiDetailPageGetCall(String accessToken, String poiId, String beginDate, String endDate, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/data/poi/detail_page/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessToken != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("access_token", accessToken));
        if (poiId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("poi_id", poiId));
        if (beginDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("begin_date", beginDate));
        if (endDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("end_date", endDate));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call dataPoiDetailPageGetValidateBeforeCall(String accessToken, String poiId, String beginDate, String endDate, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'accessToken' is set
        if (accessToken == null) {
            throw new ApiException("Missing the required parameter 'accessToken' when calling dataPoiDetailPageGet(Async)");
        }
        // verify the required parameter 'poiId' is set
        if (poiId == null) {
            throw new ApiException("Missing the required parameter 'poiId' when calling dataPoiDetailPageGet(Async)");
        }
        // verify the required parameter 'beginDate' is set
        if (beginDate == null) {
            throw new ApiException("Missing the required parameter 'beginDate' when calling dataPoiDetailPageGet(Async)");
        }
        // verify the required parameter 'endDate' is set
        if (endDate == null) {
            throw new ApiException("Missing the required parameter 'endDate' when calling dataPoiDetailPageGet(Async)");
        }
        
        com.squareup.okhttp.Call call = dataPoiDetailPageGetCall(accessToken, poiId, beginDate, endDate, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 门店POI访问数据
     * * Scope: &#x60;data.poi&#x60; 
     * @param accessToken 调用/oauth/client_token/生成的token，此token不需要用户授权。 (required)
     * @param poiId  (required)
     * @param beginDate 开始日期(2019-01-01) (required)
     * @param endDate 结束日期(2019-01-01) (required)
     * @return DataPoiDetailPageResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DataPoiDetailPageResponse dataPoiDetailPageGet(String accessToken, String poiId, String beginDate, String endDate) throws ApiException {
        ApiResponse<DataPoiDetailPageResponse> resp = dataPoiDetailPageGetWithHttpInfo(accessToken, poiId, beginDate, endDate);
        return resp.getData();
    }

    /**
     * 门店POI访问数据
     * * Scope: &#x60;data.poi&#x60; 
     * @param accessToken 调用/oauth/client_token/生成的token，此token不需要用户授权。 (required)
     * @param poiId  (required)
     * @param beginDate 开始日期(2019-01-01) (required)
     * @param endDate 结束日期(2019-01-01) (required)
     * @return ApiResponse&lt;DataPoiDetailPageResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DataPoiDetailPageResponse> dataPoiDetailPageGetWithHttpInfo(String accessToken, String poiId, String beginDate, String endDate) throws ApiException {
        com.squareup.okhttp.Call call = dataPoiDetailPageGetValidateBeforeCall(accessToken, poiId, beginDate, endDate, null, null);
        Type localVarReturnType = new TypeToken<DataPoiDetailPageResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * 门店POI访问数据 (asynchronously)
     * * Scope: &#x60;data.poi&#x60; 
     * @param accessToken 调用/oauth/client_token/生成的token，此token不需要用户授权。 (required)
     * @param poiId  (required)
     * @param beginDate 开始日期(2019-01-01) (required)
     * @param endDate 结束日期(2019-01-01) (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call dataPoiDetailPageGetAsync(String accessToken, String poiId, String beginDate, String endDate, final ApiCallback<DataPoiDetailPageResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = dataPoiDetailPageGetValidateBeforeCall(accessToken, poiId, beginDate, endDate, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DataPoiDetailPageResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for dataPoiShopPageGet
     * @param accessToken 调用/oauth/client_token/生成的token，此token不需要用户授权。 (required)
     * @param beginDate 开始日期(2019-01-01) (required)
     * @param endDate 结束日期(2019-01-01) (required)
     * @param openId 如果是client_access_token, 则不需要传open_id。操作用户数据的接口都需要传入open_id。 (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call dataPoiShopPageGetCall(String accessToken, String beginDate, String endDate, String openId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/data/poi/shop_page/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accessToken != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("access_token", accessToken));
        if (openId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("open_id", openId));
        if (beginDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("begin_date", beginDate));
        if (endDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("end_date", endDate));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call dataPoiShopPageGetValidateBeforeCall(String accessToken, String beginDate, String endDate, String openId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'accessToken' is set
        if (accessToken == null) {
            throw new ApiException("Missing the required parameter 'accessToken' when calling dataPoiShopPageGet(Async)");
        }
        // verify the required parameter 'beginDate' is set
        if (beginDate == null) {
            throw new ApiException("Missing the required parameter 'beginDate' when calling dataPoiShopPageGet(Async)");
        }
        // verify the required parameter 'endDate' is set
        if (endDate == null) {
            throw new ApiException("Missing the required parameter 'endDate' when calling dataPoiShopPageGet(Async)");
        }
        
        com.squareup.okhttp.Call call = dataPoiShopPageGetCall(accessToken, beginDate, endDate, openId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 获取主页访问数据
     * * Scope: &#x60;data.poi&#x60; 
     * @param accessToken 调用/oauth/client_token/生成的token，此token不需要用户授权。 (required)
     * @param beginDate 开始日期(2019-01-01) (required)
     * @param endDate 结束日期(2019-01-01) (required)
     * @param openId 如果是client_access_token, 则不需要传open_id。操作用户数据的接口都需要传入open_id。 (optional)
     * @return DataPoiShopPageResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DataPoiShopPageResponse dataPoiShopPageGet(String accessToken, String beginDate, String endDate, String openId) throws ApiException {
        ApiResponse<DataPoiShopPageResponse> resp = dataPoiShopPageGetWithHttpInfo(accessToken, beginDate, endDate, openId);
        return resp.getData();
    }

    /**
     * 获取主页访问数据
     * * Scope: &#x60;data.poi&#x60; 
     * @param accessToken 调用/oauth/client_token/生成的token，此token不需要用户授权。 (required)
     * @param beginDate 开始日期(2019-01-01) (required)
     * @param endDate 结束日期(2019-01-01) (required)
     * @param openId 如果是client_access_token, 则不需要传open_id。操作用户数据的接口都需要传入open_id。 (optional)
     * @return ApiResponse&lt;DataPoiShopPageResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DataPoiShopPageResponse> dataPoiShopPageGetWithHttpInfo(String accessToken, String beginDate, String endDate, String openId) throws ApiException {
        com.squareup.okhttp.Call call = dataPoiShopPageGetValidateBeforeCall(accessToken, beginDate, endDate, openId, null, null);
        Type localVarReturnType = new TypeToken<DataPoiShopPageResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * 获取主页访问数据 (asynchronously)
     * * Scope: &#x60;data.poi&#x60; 
     * @param accessToken 调用/oauth/client_token/生成的token，此token不需要用户授权。 (required)
     * @param beginDate 开始日期(2019-01-01) (required)
     * @param endDate 结束日期(2019-01-01) (required)
     * @param openId 如果是client_access_token, 则不需要传open_id。操作用户数据的接口都需要传入open_id。 (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call dataPoiShopPageGetAsync(String accessToken, String beginDate, String endDate, String openId, final ApiCallback<DataPoiShopPageResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = dataPoiShopPageGetValidateBeforeCall(accessToken, beginDate, endDate, openId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DataPoiShopPageResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
